/* colors
2274A5 - star commmand blue
E7DFC6 - eggshell 
E9F1F7 - alice blue
*/

body {
  background-color: #e9f1f7;
  overflow: scroll; /* This is to prevent the scrollbar from appearing/disappearing based on number of tickets, which causes design to shift horizontally*/
}

button {
  margin-bottom: 10px !important;
}

button > a {
  text-decoration: none;
  color: white;
}

button > a:hover {
  color: white;
}

.login-and-register {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 66%;
  margin: auto;
  padding-top: 30px;
}

.login-and-register > h2 {
  padding-top: 20px;
}

.login-register-information {
  text-align: center;
}

.login-register-information > input {
  margin-left: 20px;
  margin-right: 5px;
}

.create-ticket {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 30px;
}

.create-ticket > div {
  min-width: 50%;
  max-width: 70%;
  background-color: #e7dfc6 !important;
}

.card.fluid {
  background-color: #e7dfc6;
  min-width: 50%;
  margin: 15px;
}

.ui.segment.centered.form button {
  color: white;
}

.div.extra.content {
  background-color: #2274a5;
}

#resolved-text {
  font-style: oblique;

  display: inline;
  padding-left: 5px;
}

.visible {
  display: block;
}

.hidden {
  display: none !important;
  visibility: hidden;
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0 !important;
}

.categories {
  justify-content: center;
  padding-top: 10px;
  padding-right: 34px;
  padding-bottom: 10px;
}

.ticket-list {
  margin-top: 10px;
}

.welcome-text {
  text-align: center;
  padding-bottom: 20px;
}

.worknote {
  width: 90%;
  margin: auto;
  border: 1px;
  padding-top: 30px;
  padding-bottom: 15px;
}

.worknotes-container > button {
  padding-bottom: 5px;
}

.resolution-form {
  padding-bottom: 15px;
}

.resolve,
.delete {
  padding-left: 5px;
}

.guest-account-logins {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

@media only screen and (max-width: 768px) {
  .guest-account-logins {
    flex-direction: column;
  }
  .login-button {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }

  #submit-button {
    width: 100%;
  }
}
/* nav */

/* Main Nav */

.main-nav {
  display: flex;
  margin-top: 0;
  height: auto;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f7bb4b;
  text-decoration: none;
}

.nav-items {
  display: flex;
  margin-left: auto;
  text-decoration: none;
}

.nav-items-main {
  color: #14213d;
  font-family: "Lato";
}

.nav-items > a {
  text-decoration: none;
  color: #14213d;
  font-family: "Lato";
  padding-right: 20px;
}

.navbar-name {
  padding-left: 20px;
}

.navbar-name > a {
  text-decoration: none;
  color: #14213d;
  font-family: "Lato";
}

.hamburger-icon {
  display: none;
}

@media only screen and (max-width: 768px) {
  .main-nav,
  .nav-items {
    flex-direction: column;
  }

  .nav-items-main {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }

  .nav-items {
    margin-left: 0;
    display: none;
    padding-right: 0;
  }

  .nav-items > a {
    padding-right: 0px;
  }

  .hamburger-icon {
    display: block;
    justify-self: flex-end;
    cursor: pointer;
  }

  .navbar-show {
    display: flex;
    align-self: center;
    text-align: center;
  }
}

.local-nav-home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 5px;
}

.navbar-name.button > a {
  color: white;
}

.local-nav-logout {
  display: flex;
  justify-content: right;
  align-items: right;
  width: 100%;
  padding-top: 5px;
  padding-right: 40px;
}

/* END Main Nav */
/* end nav */
